body {
    background-color: #f7f7f7;
    color: #191970;
}

h1 {
    background-color: #833b83;
    color: #f9f0fe;
    margin-bottom: 0%;
}

h2 {
    color: #ad77c3;
}

nav {
    background-color: #eaeaf2;
}

footer {
    color: #666666;
}

.companyname {
    color: #833b83;
}